<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <viewport content="width=device-width, initial-scale=1.0">
  <title>My Blog</title>
  <link rel="stylesheet" href="css/index.css">
</head>
<body>
  <main>
    <section class="welcome">
      <div class="welcome-text">
        <h1>Welcome to My Blog</h1>
        <a href="/create-post" class="btn btn-create">Create Post</a>
      </div>
    </section>
    <section class="posts">
      <ul class="post-list">
        <% for (const postId in posts) { %>
          <li class="post-item">
            <article>
              <h2 class="post-title"><%= posts[postId].title %></h2>
              <img src="<%= posts[postId].img_url %>" alt="<%= posts[postId].title %>" class="post-img">
              <p class="post-content"><%= posts[postId].content %></p>
            </article>
            <div class="post-actions">
              <p class="post-date">Posted on March 25, 2024</p>
              <div class="post-buttons">
                <a href="/update-post/<%= postId %>" class="btn btn-edit">Edit Post</a>
                <a href="/delete-post/<%= postId %>" class="btn btn-delete">Delete Post</a>
              </div>
            </div>
          </li>
        <% } %>
      </ul>
    </section>
  </main>

</body>
</html>