<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <viewport content="width=device-width, initial-scale=1.0">
  <title>My Blog</title>
  <link rel="stylesheet" href="css/index.css">
</head>
<body>
  <main>
    <section class="welcome">
      <h1>Welcome to My Blog</h1>
      <a href="/create-post" class="btn btn-create">Create Post</a>
    </section>
    <section class="posts">
      <ul>
        <% for (const postId in posts) { %>
          <li>
            <article>
              <h2><%= posts[postId].title %></h2>
              <img src="<%= posts[postId].img_url %>" alt="<%= posts[postId].title %>">
              <p><%= posts[postId].content %></p>
            </article>
            <div>
              <a href="/update-post/<%= postId %>" class="btn btn-edit">Edit Post</a>
              <a href="/delete-post/<%= postId %>" class="btn btn-delete">Delete</a>
            </div>
          </li>
        <% } %>
      </ul>
    </section>
  </main>

</body>
</html>