<!DOCTYPE html>
<html lang="en">
<%- include("partials/head.ejs", {
    title: "My Blog",
    styles: ["base.css", "header.css", "index.css"]
})%>

<body>
  <%- include("partials/header.ejs", {
    title: "Welcome to My Blog &#128052; &#129412; &#128052;",
    showCreatePostButton: true
  }) %>
  <main>
    <section class="posts">
      <ul class="post-list">
        <% for (const postId in posts) { %>
          <li class="post-item">
            <article>
              <h2 class="post-title"><%= posts[postId].title %></h2>
              <img src="<%= posts[postId].img_url %>" alt="<%= posts[postId].title %>" class="post-img">
              <div class="post-content"><%- posts[postId].content %></div>
            </article>
            <div class="post-actions">
              <p class="post-date">Posted on March 25, 2024</p>
              <div class="post-buttons">
                <a href="/update-post/<%= postId %>" class="btn btn-edit">Edit Post</a>
                <a href="/delete-post/<%= postId %>" class="btn btn-delete">Delete Post</a>
              </div>
            </div>
          </li>
        <% } %>
      </ul>
    </section>
  </main>

</body>
</html>